.footer {
  background-color: #266b47;
  height: auto;
  margin-top: 4px;
}

.Footer-copyright {
  color: #f0e442;
}

.logo-footer {
  display: flex;
}

.taille-logo {
  width: 200px;
  height: auto;
}

.social-logo {
  display: flex;
  justify-content: center;
  width: 50px;
  margin: auto;
  margin-bottom: 5px;
}

.vegetation {
  display: flex;
}
